# NetBeans
nbproject/private/

# Maven
target/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Java
*.class

target/
artifact/

*.war


logs/

build
build-run
buildx-bootstrap
buildx-deploy
buildx-stop

payara/
payara-*.jar


jwt/*.jar
jwt/*.jwt
jwt/*.json